::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(145, 158, 171, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(145, 158, 171, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(145, 158, 171, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(145, 158, 171, 0.9);
}

html {
  touch-action: pan-y;
}
